
.container {
    background-color: rgb(91, 105, 87);
    padding: 2% 5%;
}
.banner img {
    height: 150px ; 
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
